image: mcr.microsoft.com/dotnet/core/sdk:3.1

stages:
  - build
  - run

before_script:
  - dotnet --version

build_dotnet_application:
  stage: build
  script:
    - dotnet build

test_dotnet_application:
  stage: build
  script:
    - dotnet test

run_application:
  stage: run
  when: manual
  script:
    - dotnet run
