apiVersion: v1
kind: ConfigMap
metadata:
  name: config-nginx
data:
  site.conf: |
    server {
      listen       80;
      server_name  www.site.com;

      gzip on;
      gzip_types text/plain application/xml;

      location / {
        root  /usr/share/nginx/html;
        index index.html index.htm;
      }
    }