apiVersion: v1
kind: Pod
metadata:
  name: configmap-pod
spec:
  containers:
    - name: web-server
      image: nginx
      volumeMounts:
      - name: config
        mountPath: /etc/nginx/conf.d
        readOnly: true
      resources:
  volumes:
  - name: config
    configMap:
      name: config-nginx