apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hpvc
spec:
  storageClassName: csi-hostpath-sc
  dataSource:
    kind: VolumeSnapshot
    name: hpvc-snapshot
    apiGroup: snapshot.storage.k8s.io
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
